<% if(typeof validationErrors != 'undefined'){

    validationErrors.forEach((error)=>{%>

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%=error.msg%>
    </div>
    <%});

}%>

        <% if(flash_success_msg != ''){%>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <%=flash_success_msg%>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <%}%>

                <% if(flash_error_msg != ''){%>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <%=flash_error_msg%>
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <%}%>

                        <% if(error != ''){%>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <%=error%>
                            </div>
                            <%}%>